// Global styles */
body {
	font-family: 'Comfortaa', sans-serif;
	font-size: 0.875rem; // 14px
	font-weight: 400;
	color: $defaultColor;
	line-height: 120%;
	background-color: $beigeBbColor;
}

.main {
	overflow-x: clip;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 0.625rem; // 0 10px
}

.menu__list {
	display: flex;
	gap: 20px;
}

.menu__list-link {
	text-transform: uppercase;
}

.header__menu-btn {
	display: none;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 25px;
	border: none;
	background-color: transparent;
	padding: 0;
	border-radius: 0;
}

button {
	font-family: 'Comfortaa', sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: none;
	background-color: $yellowColor;
	padding: 18px 54px;
}

.title {
	font-family: 'Yeseva One', serif;
	font-size: 40px;
	line-height: 115%;
	font-weight: 400;
}

// font-family: 'Comfortaa', sans-serif;
// font-family: 'Roboto', sans-serif;
//
