// SCSS variables

// Colors
$yellowColor: #ffbd59;
$brownColor: #7b6152;
$defaultColor: #000;
$beigeColor: #bea495;
$darkBeigeColor: #a5978e;
$beigeBbColor: #fff8f3;
$whiteColor: #fafafa;

// Button
// @mixin readmore-btn {
// 	border: none;
// 	@include opensans-400;
// 	font-size: 15px;
// 	text-transform: uppercase;
// 	background-color: $accent;
// 	color: $default;
// 	padding: 10px 16px;
// 	border-radius: 25px;
// 	cursor: pointer;
// }
