@import 'vars';
@import 'fonts';
@import 'optimize';
@import 'libs';
@import 'global';
// header
.header {
	&__inner {
		padding-top: 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__phone {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			top: 50%;
			transform: translateY(-50%);
			left: -23px;
			width: 18px;
			height: 18px;
			background-image: url(../images/icons/phone.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

// Section Top
.top {
	padding: 40px 0 150px;
	&__inner {
		position: relative;
	}
	&__content {
		width: 370px;
		padding: 150px 0 250px;
	}
	&__title {
		font-family: 'Yeseva One', serif;
		font-size: 30px;
		line-height: 116%;
	}
	&__text {
		line-height: 112%;
		margin-bottom: 48px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 240px;
	}
}

// Section About
.about {
	background-color: $darkBeigeColor;
	padding: 50px 0;
	margin-bottom: 150px;
	&__content {
		color: $whiteColor;
	}
	&__inner {
		display: flex;
		align-items: center;
	}
	&__content {
		min-width: 370px;
	}
	&__title {
		margin-bottom: 15px;
	}
	&__text {
		margin-bottom: 15px;
	}
	&__item-img {
		margin-bottom: 10px;
	}
	&__item-img.item-img--1,
	&__item-img.item-img--3 {
		width: 215px;
	}
	&__item-img.item-img--2 {
		width: 350px;
	}
	&__item-text {
		color: $whiteColor;
		font-size: 11px;
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 20px;
		padding-left: 110px;
		padding-bottom: 48px;
	}
}

// Section Products
.products {
	&__content {
		gap: 50px 5px;
	}
	&__item {
		width: 290px;
		text-align: center;
		margin: 0 auto;
	}
	&__item-img {
		margin-bottom: 8px;
	}
	&__item-price,
	&__item-title {
		font-family: 'Yeseva One', serif;
		font-size: 16px;
		font-weight: 400;
	}
	&__item-price {
		margin-bottom: 12px;
	}
	&__item-title {
		margin-bottom: 16px;
	}
	&__item-text {
		font-size: 12px;
		margin-bottom: 27px;
	}
}

// Section Steps
.steps {
	&__list {
		gap: 70px 25px;
		counter-reset: number;
	}
	&__item {
		display: flex;
		gap: 40px;
		position: relative;
	}
	&__item::before {
		position: absolute;
		left: 0;
		bottom: 0;
		counter-increment: number;
		content: '0' counter(number);
		font-family: 'Yeseva One', serif;
		font-size: 30px;
		font-weight: 400;
		color: $beigeColor;
	}

	&__item:nth-child(n + 10):before {
		content: counter(number);
	}
	&__item.steps__item--even::before {
		left: auto;
		right: 0;
	}
	&__item-text {
		flex-basis: 174px;
		padding-bottom: 40px;
	}
	&__item-img {
		width: 160px;
		object-fit: cover;
	}
}

// Courses
.courses {
	&__imgbox {
		position: relative;
		color: $whiteColor;
		font-size: 11px;
		font-family: 'Yeseva One', serif;
	}
	&__imgbox-title,
	&__imgbox-time,
	&__imgbox-price {
		position: absolute;
		background-color: $beigeColor;
	}
	&__imgbox-title {
		padding: 15px;
		top: 45%;
		left: 10px;
	}
	&__imgbox-time {
		padding: 7px 10px;
		top: 60%;
		left: 10px;
	}
	&__imgbox-price {
		padding: 19px 10px;
		bottom: 0;
		right: 0;
	}
	&__imgbox-img {
		margin-bottom: 0;
	}
	&__item-title {
		padding-top: 20px;
	}
}

// Footer
.footer {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 0;
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		width: 230px;
	}
	&__email {
		margin: 17px 0;
	}
	&__social-list {
		display: flex;
		gap: 15px;
	}
}

@import 'media';
