<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Roboto&family=Yeseva+One&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/style.min.css" />
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header__inner">
					<a class="header__logo" href="#">
						<img class="header__logo-img" src="images/logo.svg" alt="logo" />
					</a>
					<nav class="header__menu">
						<!-- Button burger menu -->
						<button class="header__menu-btn">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="30"
								height="25"
								viewBox="0 0 30 25"
								fill="none"
							>
								<rect width="30" height="1" fill="#7B6152" />
								<rect y="6" width="30" height="1" fill="#7B6152" />
								<rect y="12" width="30" height="1" fill="#7B6152" />
								<rect y="18" width="30" height="1" fill="#7B6152" />
								<rect y="24" width="30" height="1" fill="#7B6152" />
							</svg>
						</button>
						<ul class="header__menu-list menu__list">
							<li class="header__menu-item menu__list-item">
								<a class="header__menu-link menu__list-link" href="#"
									>Про нас</a
								>
							</li>
							<li class="header__menu-item menu__list-item">
								<a class="header__menu-link menu__list-link" href="#"
									>Каталог</a
								>
							</li>
							<li class="header__menu-item menu__list-item">
								<a class="header__menu-link menu__list-link" href="#"
									>Команда</a
								>
							</li>
							<li class="header__menu-item menu__list-item">
								<a class="header__menu-link menu__list-link" href="#"
									>Відгуки</a
								>
							</li>
							<li class="header__menu-item menu__list-item">
								<a class="header__menu-link menu__list-link" href="#">Курси</a>
							</li>
							<li class="header__menu-item menu__list-item">
								<a class="header__menu-link menu__list-link" href="#"
									>Контакти</a
								>
							</li>
						</ul>
					</nav>
					<a class="header__phone" href="tel:+4565789876">+45 65 78 98 76</a>
				</div>
			</div>
		</header>
	</body>
</html>
